fieldset {
    min-width:260px;
    margin:10px auto;
    width:30%;
    padding:1rem;
    background-color: #a015482f;   /*the color code can be expressed in #rrggbbtt in hex where tt is ff if 100% opaque */
    border: 5px solid rgba(128,128,128,0.3); /*the color code can also be expressed in rgba way where 0.3 is 30% opaque */
    border-style:outset;
    border-radius: 0.75rem;
}

input, textarea {    
    padding:0.5rem;
    margin:3px;    
    border-radius: 0.75rem;
}

.err_label {    
    color: #a01548;
    padding:0.25rem;    
    font-size:0.75rem;
    font-style: italic;
    font-weight: bold;    
}
